extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Verify your email
      form.form.form--verify-email
        .form__group.ma-bt-md
          label.form__label(for='otp') One-Time Password (OTP)
          input#otp.form__input(type='text', placeholder='123456', required)
        .form__group
          button.btn.btn--green Verify
